{% extends 'index.html' %} {% load render_table from django_tables2 %} {% load static %}

{% block content %}
<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Suppliers</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">List</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Suppliers List</h4>
                    </div>
                    <div class="comment-widgets scrollable">
                        {% render_table suppliers %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                <div class="card card-hover">
                    <a href="{% url 'newSupplier' %}">
                        <div class="box bg-danger text-center">
                            <h1 class="font-light text-white"><i class="mdi mdi-more"></i></h1>
                            <h6 class="text-white">Add new Supplier</h6>
                        </div>
                    </a>
                </div>
                <div class="card-body">
                    <form class="form" method="get">
                        <div class="form-group row">
                            <label for="search_name" class="col-sm-3 text-right control-label col-form-label">Search</label>
                            <div class="col-sm-9">
                                <input type="text"class="form-control" id="search_name" name="search_name" {% if request.GET.search_name %} value="{{ request.GET.search_name }}" {% else %} placeholder="Search Here" {% endif %}>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}